* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hide-content {
    display: none;
}

/* header section */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.header a {
    text-decoration: none;
}

.header .timer {
    display: flex;
}

#main-page {
    text-align: center;
    padding: 40px 125px;
}

#main-page h1 {
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}

#main-page p {
    padding: 10px 0 20px 0;
}

.btn-default {
    width: 25%;
    border: none;
    background: rgb(45, 15, 155);
    color: whitesmoke;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

#questions {
    text-align: center;
    padding: 40px 125px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#questions h3 {
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}